###############################
# Core EditorConfig Options   #
###############################
root = true
# All files
[*]
indent_style = tab

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 6
# insert_final_newline = true
# # charset = utf-8-bom
# ###############################
# # .NET Coding Conventions     #
# ###############################
# [*.{cs,vb}]
# dotnet_style_predefined_type_for_locals_parameters_members = true:error
# dotnet_style_predefined_type_for_member_access = true:error
# dotnet_diagnostic.IDE0049.severity = error
